body {
    text-align: center;
    background-color:aquamarine;
}
ul {
    display: inline;
}
ol {
    display: inline;
}
#titulo {
    font-size: 40px;
}
#foto {
    height: 450px;
    width: 500px;
}